{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint", "prettier", "react"
  ],
  "ignorePatterns": [
    "*.config.js", "node_modules/", "dist/"
  ],
  "rules": {
    "no-plusplus": "off",
    "no-console": "warn",
    "max-len": [
      "warn", {
        "code": 180
      }
    ],
    "indent": [
      "warn",
        2, 
       {
        "SwitchCase": 1
      }
    ],
    "@typescript-eslint/indent": [
      "warn", 2, {
        "SwitchCase": 1
      }
    ],
    "import/prefer-default-export": "off",
    "no-param-reassign": [
      "error", {
        "props": false
      }
    ],
    "prettier/prettier": [
      "error", {
        "endOfLine": "auto"
      }
    ],
    "import/extensions": [
      "off", "ignorePackages", {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never",
        "mjs": "never"
      }
    ]
  }
}
