@media screen and (max-width: 900px){
  .main{
    .search__form{
      flex-direction: column;
      margin-top: 30px;
    }
    .table{
      &__head-span{
        font-size: 18px;
      }
      &__body-span{
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 640px){
  .main{
    .table{
      &__head-span{
        font-size: 15px;
      }
      &__body-span{
        font-size: 11px;
      }
    }
  }
}

@media screen and (max-width: 500px){
  .main{
    .search{
      margin-bottom: 20px;
      &__text{
        max-width: 230px;
      }
      &__sort-inputs-wrapper{
        flex-wrap: wrap;
      }
      &__sort-text{
        flex: 0 1 100%;
        margin-bottom: 10px;
        margin-right: 0;
        font-size: 20px;
      }
      &__radio{
        margin-right: 10px;
      }
      &__label{
        font-size: 14px;
      }
    }
    .table{
      &__head-span{
        font-size: 9px;
      }
      &__body-span{
        font-size: 6px;
      }
    }
    .pagination{
      flex-wrap: wrap;

      &__label{
        flex: 0 1 60%;
        margin: 10px 5px 10px 0;
      }
    }
  }
}
