@media screen and (max-width: 1100px) {
  .main .catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 760px) {
  .main {
    .search {
      &__form {
        display: flex;
        flex-direction: column-reverse;
      }
      &__checkbox-wrapper {
        justify-content: space-between;
        margin-bottom: 20px;
      }
      &__inputs-wrapper {
        flex-direction: column;
      }
      &__text {
        margin-bottom: 20px;
      }
      &__button {
        align-self: flex-end;
      }
    }
    .catalog {
      max-width: 500px;
      grid-template-columns: 1fr;
      margin: 0 auto;

      .card__name {
        font-size: 25px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .main {
    .search {
      padding: 20px;
      &__checkbox-wrapper {
        flex-direction: column;
        align-items: flex-start;
      }
      &__checkbox-wrapper div:first-child {
        margin-bottom: 20px;
      }
    }
  }
}
